<footer class="text-center text-lg-start bg-primary text-light pt-5">
    <div class="container text-center text-md-start">
        <div class="row">
            <div class="col-lg-3 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    {{ site.title }}
                </h6>
                <p>
                    {{ site.description }}
                </p>
            </div>
        </div>
    </div>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        &copy; Copyright {{ site.time | date: '%Y' }}.
        {% if site.impressum_path %}
            <a href="{{ site.impressum_path | relative_path }}" class="text-reset">Impressum</a>.
        {% endif %}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
    </div>
</footer>
