.bg-primary {
  background-color: $mjuz-color !important;
}

a {
  color: $mjuz-color;
}

a:hover {
  color: $mjuz-dark-color;
}

.navbar-height {
  height: $navbar-height;
  @media(min-width: $navbar-small-break) {
    height: $navbar-small-height;
  }
}

.pnav {
  padding-top: $navbar-height;
  @media(min-width: $navbar-small-break) {
    padding-top: $navbar-small-height;
  }
}

article:before {
  margin-top: -$navbar-height;
  height: $navbar-height;
  @media(min-width: $navbar-small-break) {
    margin-top: -$navbar-small-height;
    height: $navbar-small-height;
  }
  content: "";
  display: block;
}

span.mjuz {
  position: relative;

  &:first-letter {
    font-style: italic;
    margin-right: 100%;
    margin-left: .1em;
    text-transform: lowercase;
  }

  &:after {
    content: 'S';
    position: absolute;
    font-weight: inherit;
    top: 0;
    left: 0;
    transform: scale(.65, .65) translate(.8em, .17em);
  }

  font-family: "Times New Roman";
  display: inline-block;
  transform: scale(1.6, 1.6) translate(.1em, 0.04em);
  overflow: hidden;
  line-height: 1.2em;
  height: 1.2em;
  width: 1.3em;
  word-break: break-all;
  margin-top: -1em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  span.mjuz:after {
    font-weight: bold;
  }
}

.jumbotron {
  background: linear-gradient(
                  115deg,
                  rgba(255, 255, 255, 1) 40%,
                  rgba(13, 152, 186, 1) 75%
  );

  h1 {
    img {
      margin: -10% -18% 0 -18%;
      width: 128%;
      max-height: 80vh;
    }

    font-weight: normal;
    width: 350px;
    max-width: 100%;
    font-size: 1.8rem;
  }

  .card img {
    height: 150px;
    width: 150px;
  }

  .container:first-child {
    min-height: m#{i}n(900px, 75vh);
  }
}

// Bibliography

ol.bibliography {
  list-style: none;
  padding: 0;
  margin-top: 0;

  li {
    margin-bottom: 2rem;

    .abbr {
      display: inline;
      text-align: right;
      float: right;
    }
  }
}

// Use cases animation

#uc-anim {

  // Controls

  input {
    display: none;
  }

  .form-check-input[type="radio"]:after {
    width: .625rem;
    height: .625rem;
    transform: translate(-50%, -50%);
    background: transparent;
    position: absolute;
    left: 50%;
    top: 50%
  }

  .controls label[for="play"] .fa-play {
    font-size: .8rem;
    transform: translate(5%, -40%);
  }

  #play:checked ~ .controls label[for="play"] {
    color: $mjuz-color;
    border-color: $mjuz-color;
  }

  @mixin activeControlAfterProps {
    background-color: $mjuz-color;
  }
  @mixin notActiveControlAfterProps {
    background-color: transparent;
  }
  @function controlAfterSelector($slide) {
    @return '.controls label[for="slide-#{$slide}"]:after'
  }
  @mixin notActiveControlProps {
    border-color: #757575;
  }
  @mixin activeControlProps {
    border-color: $mjuz-color;
  }
  @function controlSelector($slide) {
    @return '.controls label[for="slide-#{$slide}"]'
  }
  @mixin activateControl($slide) {
    #{controlSelector($slide)} {
      @include activeControlProps;
    }
    #{controlAfterSelector($slide)} {
      @include activeControlAfterProps;
    }
  }

  // Captions

  .captions {
    min-height: 606px;
    @media(min-width: $break-sm) {
      min-height: 401px;
    }
    @media(min-width: $break-md) {
      min-height: 350px;
    }
    @media(min-width: $break-lg) {
      min-height: 427px;
    }
    @media(min-width: $break-xxl) {
      min-height: 367px;
    }

    label {
      cursor: pointer;
    }

    .list-group-flush {
      margin-top: .5rem;
      margin-bottom: -.5rem;
      margin-right: -1.5rem;
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      transition: max-height .5s, opacity .5s;
    }
  }

  @mixin showCaptionGroupProps {
    opacity: 1;
    visibility: visible;
    max-height: 500px;
    transition-delay: .5s;
  }
  @mixin hideCaptionGroupProps {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition-delay: 0s;
  }
  @function captionGroupSelector($slide) {
    @return '.captions label[for="slide-#{$slide}"] .list-group-flush'
  }
  @mixin showCaptionGroup($slide) {
    #{captionGroupSelector($slide)} {
      @include showCaptionGroupProps;
    }
  }

  @mixin noHighlightCaptionProps {
    background-color: $white-color;
    border-color: rgba(0, 0, 0, .125);
    color: #616161;
  }
  @mixin highlightCaptionProps {
    background-color: $mjuz-color;
    border-color: $mjuz-color;
    color: $white-color;
  }
  @function captionSelector($slide) {
    @return '.captions label[for="slide-#{$slide}"]'
  }
  @mixin highlightCaption($slide) {
    #{captionSelector($slide)} {
      @include highlightCaptionProps;
    }
  }

  // Animation

  $slidesCount: 15;
  $duration: 60;
  $delay: calc(1 / $duration);
  @function slideT($slide) {
    @return calc($slide / ($slidesCount + 1));
  }

  @mixin showElementProps {
    fill: $black-color;
    opacity: 1;
  }
  @mixin highlightElementProps {
    fill: $mjuz-color;
    opacity: 1;
  }
  @mixin waitElementProps {
    fill: $black-color;
    opacity: 0.2;
  }
  @mixin hideElementProps {
    fill: $black-color;
    opacity: 0;
  }

  @mixin elementProps($class) {
    @if $class == 'hide' {
      @include hideElementProps;
    } @else if $class == 'show' {
      @include showElementProps;
    } @else if $class == 'highlight' {
      @include highlightElementProps;
    } @else if $class == 'wait' {
      @include waitElementProps;
    }
  }

  .deployment-provider, .remote-editor, .bucket, .offer, .dep-bucket-offer, .dep-remote-offer,
  .deployment-editor, .remote-provider, .wish, .index, .dep-remote-wish, .dep-wish-index, .dep-offer-wish {
    @include hideElementProps;
  }

  $animation: (
          'deployment-editor': ['hide', 'highlight', 'show', 'show', 'show', 'show', 'show', 'show', 'show', 'show', 'show', 'show', 'show', 'highlight', 'wait', 'wait', 'hide'],
          'remote-provider': ['hide', 'wait', 'highlight', 'show', 'show', 'show', 'show', 'show', 'show', 'show', 'show', 'show', 'show', 'show', 'show', 'highlight', 'hide'],
          'wish': ['hide', 'wait', 'wait', 'highlight', 'show', 'show', 'show', 'highlight', 'show', 'show', 'highlight', 'show', 'show', 'show', 'highlight', 'hide', 'hide'],
          'dep-remote-wish': ['hide', 'wait', 'wait', 'highlight', 'show', 'show', 'show', 'show', 'show', 'show', 'show', 'show', 'show', 'show', 'highlight', 'hide', 'hide'],
          'dep-offer-wish': ['hide', 'wait', 'wait', 'wait', 'wait', 'wait', 'wait', 'highlight', 'show', 'show', 'highlight', 'highlight', 'wait', 'wait', 'wait', 'hide', 'hide'],
          'index': ['hide', 'wait', 'wait', 'wait', 'wait', 'wait', 'wait', 'wait', 'highlight', 'show', 'highlight', 'wait', 'wait', 'wait', 'hide', 'hide', 'hide'],
          'dep-wish-index': ['hide', 'wait', 'wait', 'wait', 'wait', 'wait', 'wait', 'wait', 'highlight', 'show', 'highlight', 'wait', 'wait', 'wait', 'hide', 'hide', 'hide'],
          'deployment-provider': ['hide', 'hide', 'hide', 'hide', 'highlight', 'show', 'show', 'show', 'show', 'highlight', 'wait', 'wait', 'wait', 'hide', 'hide', 'hide', 'hide'],
          'remote-editor': ['hide', 'hide', 'hide', 'hide', 'wait', 'highlight', 'show', 'show', 'show', 'show', 'show', 'show', 'highlight', 'hide', 'hide', 'hide', 'hide'],
          'offer': ['hide', 'hide', 'hide', 'hide', 'wait', 'wait', 'highlight', 'highlight', 'show', 'show', 'highlight', 'highlight', 'hide', 'hide', 'hide', 'hide', 'hide'],
          'dep-remote-offer': ['hide', 'hide', 'hide', 'hide', 'wait', 'wait', 'highlight', 'show', 'show', 'show', 'show', 'highlight', 'hide', 'hide', 'hide', 'hide', 'hide'],
          'dep-bucket-offer': ['hide', 'hide', 'hide', 'hide', 'wait', 'wait', 'highlight', 'show', 'show', 'show', 'show', 'highlight', 'hide', 'hide', 'hide', 'hide', 'hide'],
          'bucket': ['hide', 'hide', 'hide', 'hide', 'wait', 'highlight', 'show', 'show', 'show', 'show', 'show', 'show', 'highlight', 'hide', 'hide', 'hide', 'hide'],
  );

  @each $element, $viz in $animation {
    .#{$element} {
      transition: opacity #{$delay*$duration}s, fill #{$delay*$duration}s;
    }

    @for $slide from 0 through length($viz)-1 {
      #slide-#{$slide}:checked ~ {
        $class: nth($viz, $slide+1);

        .controls .#{$element} {
          @include elementProps($class);
        }
      }
    }

    @keyframes #{$element}Animation {
      $class: '';
      $prevClass: '';
      @for $slide from 0 through length($viz)-1 {
        $class: nth($viz, $slide+1);
        @if $slide != 0 AND $class != $prevClass {
          #{max(0, slideT($slide) - $delay) * 100%} {
            @include elementProps($prevClass);
          }
          #{slideT($slide) * 100%} {
            @include elementProps($class);
          }
        }
        $prevClass: $class;
      }
    }
  }

  @for $i from 1 through $slidesCount {
    #slide-#{$i}:checked ~ {
      @include activateControl($i);
      @include highlightCaption($i);
    }
  }

  @mixin showCaptionGroupRange($slide, $from, $to) {
    @for $i from $from through $to {
      #slide-#{$i}:checked ~ {
        @include showCaptionGroup($slide);
      }
    }

    @keyframes captionGroupAnimation#{$slide} {
      #{(slideT($from) - $delay) * 100%} {
        @include hideCaptionGroupProps
      }
      #{slideT($from) * 100%} {
        @include showCaptionGroupProps
      }
      #{(slideT($to + 1) - 2*$delay) * 100%} {
        @include showCaptionGroupProps
      }
      #{(slideT($to + 1) - $delay) * 100%} {
        @include hideCaptionGroupProps
      }
    }
  }
  @include showCaptionGroupRange(1, 1, 3);
  @include showCaptionGroupRange(4, 4, 8);
  @include showCaptionGroupRange(9, 9, 12);
  @include showCaptionGroupRange(13, 13, 15);

  @for $slide from 1 through $slidesCount {
    $slideStart: (slideT($slide) - $delay) * 100%;
    $slideStartDelay: slideT($slide) * 100%;
    $slideEnd: (slideT($slide + 1) - $delay) * 100%;
    $slideEndDelay: slideT($slide + 1) * 100%;

    @keyframes activeControlAnimation#{$slide} {
      #{$slideStart} {
        @include notActiveControlProps
      }
      #{$slideStartDelay} {
        @include activeControlProps
      }
      #{$slideEnd} {
        @include activeControlProps
      }
      #{$slideEndDelay} {
        @include notActiveControlProps
      }
    }
    @keyframes activeControlAfterAnimation#{$slide} {
      #{$slideStart} {
        @include notActiveControlAfterProps
      }
      #{$slideStartDelay} {
        @include activeControlAfterProps
      }
      #{$slideEnd} {
        @include activeControlAfterProps
      }
      #{$slideEndDelay} {
        @include notActiveControlAfterProps
      }
    }
    @keyframes hightlightCaptionAnimation#{$slide} {
      #{$slideStart} {
        @include noHighlightCaptionProps
      }
      #{$slideStartDelay} {
        @include highlightCaptionProps
      }
      #{$slideEnd} {
        @include highlightCaptionProps
      }
      #{$slideEndDelay} {
        @include noHighlightCaptionProps
      }
    }
  }

  @mixin animation($animation) {
    animation: $animation #{$duration}s infinite;
  }

  #play:checked ~ {
    @each $element, $viz in $animation {
      .controls .#{$element} {
        @include animation(#{$element}Animation);
      }
    }

    @for $slide from 1 through $slidesCount {
      #{controlSelector($slide)} {
        @include animation(activeControlAnimation#{$slide});
      }

      #{controlAfterSelector($slide)} {
        @include animation(activeControlAfterAnimation#{$slide});
      }

      #{captionGroupSelector($slide)} {
        @include animation(captionGroupAnimation#{$slide});
      }

      #{captionSelector($slide)} {
        @include animation(hightlightCaptionAnimation#{$slide});
      }
    }
  }
}


